.sponsorCard {
  text-decoration: none;
  color: var(--gdsc-dark-1-100);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
  min-height: 12.5rem;
  min-width: 25rem;
  margin: 1rem 0;
  background-color: var(--sponsorcard-bg-1-100);
  border-radius: 2rem;
  box-shadow:
    0.3rem 0.3rem 0.35rem rgba(0, 0, 0, 0.25),
    -0.3rem -0.3rem 0.3rem #fff;
  transition: 0.25s;
  .sponsorLogoContainer {
    display: flex;
    justify-content: center;
    margin: auto 0;
    max-height: 8rem;
    .sponsorLogo {
      max-height: 100%;
      max-width: 100%;
    }
  }
  .spnsrTitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.sponsorCard:hover {
  box-shadow:
    0.45rem 0.45rem 0.55rem rgba(0, 0, 0, 0.221),
    -0.3rem -0.3rem 0.3rem #fff;
}

@media screen and (width < 500px) {
  .sponsorCard {
    min-width: 22rem;
    .sponsorLogoContainer {
      max-height: 6rem;
    }
    .spnsrTitle {
      font-size: 1rem;
    }
  }
}
