
.teamCard{
    transition-duration: 0.6s;
    overflow: hidden;
    height: 30vw;
    width: 26vw;
    border-radius: 2%;
    .animation{
        transition-duration: 0.6s;
        height: 24.5vw;
        width: 26vw;
        .pic{
            transition-duration: 0.6s;
            display: block;
            height: 30vw;
            width: 26vw;
            
            .image{
                transition-duration: 0.6s;
                height: 35vw;
                width: 26vw;
                border-radius: 2%;
            }
            
        }
    }
    .details{
        transform: translateX(1rem);
        color: aliceblue;
        .name{
            transition-duration: 0.6s;
            font-size: 1.78vw;
            font-weight: 500;
            
        }
        .domian{
            transition-duration: 0.6s;
            font-size: 1.1vw;
            font-weight: 400;
        }
    }
    .description{
        transform: translate(0,1vw) ;
        align-items: center;
        transition-duration: 0.5s;
        text-align: center;
        font-size: large;
    }
    .socials{
            transition-duration: 0.8s;
            display: flex;  
            justify-content: space-evenly;
            width: 70%;
            transform: translate(15%,3vw);
            scale: 1.3;
            .socialIcon{
                scale: 0.9;
                display: inline-block;
                border-radius: 3.75rem;
                box-shadow: 0 0 0.188rem rgb(61, 59, 59);
                transition: 0.4s;
            }
            .linkdin{
                scale: 0.8;
                padding: 0.5rem 0.6rem 0.0rem 0.6rem;
                margin: 0rem 0.4rem 0.6rem;
            }
            .facebook{
                scale: 0.79;
                padding: 0.5rem 0.85rem 0rem 0.85rem;
                margin: 0rem 0.4rem 0.5rem;
            }
            .instagram{
                scale: 0.84;
                padding: 0.45rem 0.6rem 0.12rem 0.6rem;
                margin: 0rem 0.4rem 0.6rem;
            }
            .twitter{
                scale: 0.8;
                padding: 0.5rem 0.5rem 0.2rem 0.55rem;
                margin: 0rem 0.4rem 0.6rem;    
            }
        
    }
    
}
@media (min-width: 990px){
        .teamCard:hover{
        transition-duration: 0.6s;
        border-radius: 2%;
        box-shadow: 0 0 0.088rem rgb(61, 59, 59);

        .animation{
            transition-duration: 0.6s;
            .pic{
                transition-duration: 0.6s;
                transform: translate(7.5vw,4vw);
                width: 11vw;
                height: 11vw;
                border-radius: 100%;
                overflow: hidden;
                .image{
                    width: 12vw;
                    height: 15vw;
                }
            }
        
        }
        .details{        
            .name{
                transition-duration: 0.6s;
                transform: translate(6vw,-8.5vw);
                color: rgb(0, 0, 0);
            }
            .domian{
                transition-duration: 0.6s;
                transform: translate(10.9vw,-8.5vw);
                color: rgb(0, 0, 0);
            }
        }
        .description{
            transform: translate(0,-7.5vw) ;
            transition-duration: 0.5s;
            color:rgb(61, 59, 59) ;
            font-size: small;
        }
        .socials{
            transition-duration: 0.6s;
            transform: translate(15%,-4.2vw);
            scale: 1.3;
            .linkdin:hover{
                scale: 0.7;
            }
            .facebook:hover{
                scale: 0.69;
            }
            .instagram:hover{
                scale: 0.74;
            }
            .twitter:hover{
                scale: 0.7;   
            }
        }
    }
}


@media only screen and (max-width:990px){
    .teamCard{
        transition-duration: 0.5s;
        height: 42vw;
        width: 34vw;
        .animation{
            transition-duration: 0.5s;
            height: 33.5vw;
            width: 34vw;
        .pic{
            transition-duration: 0.5s;
            display: block;
            height: 42vw;
            width: 34vw;            
            .image{
                transition-duration: 0.5s;
                height: 48vw;
                width: 34vw;
                }
            }
        
        }
        .details{
            transform: translate(2vw);
            color: rgb(255, 255, 255);
            .name{
                font-size:1.1rem;
                transition-duration: 0.5s;
            }
            .domian{
                transition-duration: 0.5s;
                font-size:0.8rem;
            }
        }
        
    }
    
    .teamCard:focus{
        transition-duration: 0.5s;    
        border-radius: 2%;
        box-shadow: 0 0 0.088rem rgb(61, 59, 59);
        .animation{
            transition-duration: 0.5s;
            .pic{
                transition-duration: 0.5s;
                transform: translate(10vw,5vw);
                width: 14vw;
                height: 14vw;
                border-radius: 100%;
                overflow: hidden;
                .image{
                    width: 15vw;
                    height: 18vw;
                }
            }
        
        }
        .details{        
            .name{
                transition-duration: 0.5s;
                transform: translate(8vw,-12.5vw);
                color: rgb(0, 0, 0);
            }
            .domian{
                transition-duration: 0.5s;
                transform: translate(13.5vw,-12.5vw);
                color: rgb(0, 0, 0);
            }
        }
        .description{
            transform: translate(0,-9.5vw) ;
            transition-duration: 0.5s;
            color:rgb(61, 59, 59) ;
            font-size: small;
        }
        .socials{
            transition-duration: 0.5s;
            transform: translate(15%,-5.2vw);
            scale: 1.3;
        }
    }

}
@media only screen and (max-width:660px){
    .teamCard{
        transition-duration: 0.5s;
        height: 42vw;
        width: 34vw;
        .details{
            transform: translate(2vw);
            color: rgb(255, 255, 255);
            .name{
                font-size:1rem;
                transition-duration: 0.5s;
            }
            .domian{
                transition-duration: 0.5s;
                font-size:0.7rem;
            }
        }
        .socials{
            transition-duration: 0.5s;
            transform: translate(15%,2.2vw);
            scale: 1.1;
            padding-right: 4vw;
            padding-left: 6vw;
        }
        
    }
    
    .teamCard:focus{
        .animation{
            transition-duration: 0.5s;
            .pic{
                transition-duration: 0.5s;
                transform: translate(9.5vw,5vw);
                width: 15vw;
                height: 15vw;
            }
        
        }
        .details{        
            .name{
                transform: translate(6vw,-12.5vw);
            }
            .domian{
                transform: translate(12.5vw,-12.5vw);
            }
        }
        .description{
            transform: translate(0,-9.5vw) ;
            transition-duration: 0.5s;
            color:rgb(61, 59, 59) ;
            font-size: small;
        }
        .socials{
            transition-duration: 0.5s;
            transform: translate(15%,-7.2vw);
            scale: 1.1;
            padding-right: 4vw;
            padding-left: 6vw;
        }
    }

}
@media only screen and (max-width:590px){
    .teamCard:focus{
        .socials{
            transform: translate(15%,-10.2vw);
            scale: 0.9;
            padding-right: 1vw;
        }
    }
}
@media only screen and (max-width:490px){
    .teamCard{
        .details{
            .name{
                font-size: 0.85rem;
            }
            .domian{
                font-size: 0.7rem;
            }
        }
    }
    .teamCard:focus{
        .details{       
            .name{
                
                transform: translate(4.5vw,-12.5vw);
            }
            .domian{
                transform: translate(10.8vw,-12.5vw);
            }
        }
        .description{
            transform: translate(0,-12.5vw) ;
            font-size: x-small ;
        }
        .socials{
            transform: translate(15%,-16.2vw);
            scale: 0.8;
            padding-right: 1vw;
        }
    }
}
@media only screen and (max-width:420px){
    .teamCard{
        .details{
            .name{
                font-size:0.61rem;
            }
            .domian{
                font-size:0.5rem;
            }
        }
        .socials{
            transition-duration: 0.5s;
            transform: translate(15%,2.2vw);
            scale: 0.6;
            padding-right: 3vw;
            padding-left: 11vw;
        }
        
    }
    .teamCard:focus{
        .details{       
            .name{
                
                transform: translate(6vw,-12.5vw);
            }
            .domian{
                transform: translate(11.8vw,-12.5vw);
            }
        }
        .description{
            transform: translate(0,-12.5vw) ;
            font-size: x-small ;
        }
        .socials{
            transform: translate(15%,-22vw);
            scale: 0.6;
            padding-right: 3vw;
            padding-left: 11vw;
        }
    }
}

@media only screen and (max-width:330px){
    .teamCard{
        .details{
            .name{
                font-size:0.51rem;
            }
            .domian{
                font-size:0.4rem;
            }
        }
        .description{
            font-size:0.2rem;
        }
        .socials{
            transition-duration: 0.5s;
            transform: translate(15%,2.2vw);
            scale: 1.1;
            padding-right: 5vw;
            padding-left: 6vw;
        }
        
    }
    .teamCard:focus{
        .details{       
            .name{
                
                transform: translate(5vw,-12.5vw);
            }
            .domian{
                transform: translate(11.8vw,-12.5vw);
            }
        }
        .description{
            transform: translate(0,-12.5vw) ;
            font-size: 0.5rem;
        }
        .socials{
            transform: translate(15%,-30vw);
            scale: 0.5;
            padding-right: 3vw;
            padding-left: 15vw;
        }
    }
}


