
.teamCard{
    transition-duration: 0.6s;
    overflow: hidden;
    height: 30vw;
    width: 26vw;
    border-radius: 2%;
    .git{
        width: 1rem;
    }
    .animation{
        transition-duration: 0.6s;
        height: 24.5vw;
        width: 26vw;
        .pic{
            transition-duration: 0.7s;
            display: block;
            height: 30vw;
            width: 26vw;
            
            .image{
                transition-duration: 0.7s;
                height: 35vw;
                width: 26vw;
                border-radius: 2%;
            }
            
        }
    }
    .details{
        transition: transform 0.6s;
        transform: translateX(1rem);
        color: aliceblue;
        .name{
            display: inline-block;
            transition: transform 0.6s;
            font-size: 1.78vw;
            font-weight: 500;
            
        }
        .domian{
            display: inline-block;
            transition-duration: 0.6s;
            font-size: 1.1vw;
            font-weight: 400;
        }
    }
    .description{
        transform: translate(0,2vw) ;
        align-items: center;
        transition-duration: 0.5s;
        text-align: center;
        font-size: large;
    }
    .socials{
            transition-duration: 0.6s;
            display: flex;  
            justify-content: space-evenly;
            width: 70%;
            transform: translate(15%,3vw);
            scale: 1.3;
            .socialIcon{
                scale: 0.9;
                display: inline-block;
                border-radius: 3.75rem;
                box-shadow: 0 0 0.188rem rgb(61, 59, 59);
                transition: 0.4s;
            }
            .linkdin{
                scale: 0.8;
                padding: 0.5rem 0.6rem 0.2rem 0.6rem;
                margin: 0rem 0.4rem 0.6rem;
            }
            .facebook{
                scale: 0.79;
                padding: 0.5rem 0.85rem 0rem 0.85rem;
                margin: 0rem 0.4rem 0.5rem;
            }
            .github{
                scale: 0.8;
                padding: 0.5rem 0.5rem 0.1rem 0.65rem;
                margin: 0rem 0.4rem 0.6rem;
                .git{
                    width: 1rem;
                }
               
            }
        
    }
    
}
@media (min-width: 990px){
        .teamCard:hover{
        transition-duration: 0.6s;
        border-radius: 2%;
        box-shadow: 0 0 0.088rem rgb(61, 59, 59);

        .animation{
            .pic{
                transform: translate(7.5vw,4vw);
                width: 11vw;
                height: 11vw;
                border-radius: 100%;
                overflow: hidden;
                .image{
                    width: 11.2vw;
                    height: 15vw;
                }
            }
        
        }
        .details{
            transform: translate(50%);
            .name{
                transform: translate(-50%,-8.5vw);
                color: rgb(0, 0, 0);
            }
            .domian{
                transform: translate(-50%,-8.5vw);
                color: rgb(0, 0, 0);
                
            }
        }
        .description{
            transform: translate(0vw,-7.8vw) ;
            transition-duration: 0.6s;
            color:rgb(61, 59, 59) ;
            font-size: small;
        }
        .socials{
            transition-duration: 0.6s;
            transform: translate(15%,-4.5vw);
            scale: 1.3;
            .linkdin:hover{
                scale: 0.7;
            }
            .facebook:hover{
                scale: 0.69;
            }
            .instagram:hover{
                scale: 0.74;
            }
            .github:hover{
                scale: 0.7;   
            }
        }
    }
}


@media only screen and (max-width:990px){
    .teamCard{
        transition-duration: 0.6s;
        height: 42vw;
        width: 34vw;
        .animation{
            transition-duration: 0.6s;
            height: 33.5vw;
            width: 34vw;
        .pic{
            transition-duration: 0.6s;
            display: block;
            height: 42vw;
            width: 34vw;            
            .image{
                transition-duration: 0.6s;
                height: 48vw;
                width: 34vw;
                }
            }
        
        }
        .details{
            transform: translate(2vw);
            color: rgb(255, 255, 255);
            .name{
                transform: translate(0vw,1vw);
                font-size:1.1rem;
                transition-duration: 0.5s;
            }
            .domian{
                transform: translate(0vw,0.5vw);
                transition-duration: 0.5s;
                font-size:0.8rem;
            }
        }
        
    }
    
    .teamCard:hover{
        transition-duration: 0.5s;    
        border-radius: 2%;
        box-shadow: 0 0 0.088rem rgb(61, 59, 59);
        .animation{
            transition-duration: 0.5s;
            .pic{
                transition-duration: 0.5s;
                transform: translate(10vw,5vw);
                width: 14vw;
                height: 14vw;
                border-radius: 100%;
                overflow: hidden;
                .image{
                    width: 15vw;
                    height: 18vw;
                }
            }
        
        }
        .details{
            transform: translate(50%);
            .name{
                transition-duration: 0.5s;
                transform: translate(-50%,-12.5vw);
                color: rgb(0, 0, 0);
            }
            .domian{
                transition-duration: 0.5s;
                transform: translate(-50%,-12.5vw);
                color: rgb(0, 0, 0);
            }
        }
        .description{
            transform: translate(0,-10vw) ;
            transition-duration: 0.5s;
            color:rgb(61, 59, 59) ;
            font-size: small;
        }
        .socials{
            transition-duration: 0.5s;
            transform: translate(15%,-5.8vw);
            scale: 1.3;
        }
    }

}
@media only screen and (max-width:660px){
    .teamCard{
        transition-duration: 0.5s;
        height: 42vw;
        width: 34vw;
        .details{
            transform: translate(2vw);
            color: rgb(255, 255, 255);
            .name{
                transform: translateY(-0.5vw);
                font-size: 1rem;
                transition-duration: 0.5s;
            }
            .domian{
                transform: translateY(-1.5vw);
                transition-duration: 0.5s;
                font-size:0.7rem;
            }
        }
        .socials{
            transition-duration: 0.5s;
            transform: translate(15%,2.2vw);
            scale: 1.1;
            padding-right: 4vw;
            padding-left: 6vw;
        }
        
    }
    
    .teamCard:hover{
        .animation{
            transition-duration: 0.5s;
            .pic{
                transition-duration: 0.5s;
                transform: translate(9.5vw,5vw);
                width: 15vw;
                height: 15vw;
            }
        
        }
        .details{   
            transform: translateX(50%);    
            .name{
                transform: translate(-50%,-12.5vw);
            }
            .domian{
                transform: translate(-50%,-13.5vw);
            }
        }
        .description{
            transform: translate(0,-12.5vw) ;
            transition-duration: 0.5s;
            color:rgb(61, 59, 59) ;
            font-size: small;
        }
        .socials{
            transition-duration: 0.5s;
            transform: translate(15%,-10vw);
            scale: 1.1;
            padding-right: 4vw;
            padding-left: 6vw;
        }
    }

}
@media only screen and (max-width:590px){
    .teamCard:hover{
        .details{
            transform: translateX(50%);
            .name{
                transform: translate(-50%,-13vw);
            }
            
        }
        .description{
            transform: translate(0%,-12vw) ;
        }
        .socials{
            transform: translate(15%,-12.5vw);
            scale: 0.9;
            padding-right: 1vw;
        }
    }
}
@media only screen and (max-width:530px){
    .teamCard:hover{
        .description{
            transform: translate(0,-12.5vw) ;
        }
        .socials{
            transform: translate(15%,-16vw);
            scale: 0.8;
            padding-right: 2vw;
        }
    }
}
@media only screen and (max-width:490px){
    .teamCard{
        .details{
            .name{
                font-size: 0.85rem;
            }
            .domian{
                transform: translateY(-2vw);
                font-size: 0.7rem;
            }
        }
    }
    .teamCard:hover{
        .details{  
            transform: translateX(50%);    
            .name{
                
                transform: translate(-50%,-12.5vw);
            }
            .domian{
                transform: translate(-50%,-14.5vw);
            }
        }
        .description{
            transform: translate(0,-14vw) ;
            font-size: x-small ;
        }
        .socials{
            transform: translate(15%,-18vw);
            scale: 0.8;
            padding-right: 1vw;
        }
    }
}
@media only screen and (max-width:420px){
    .teamCard{
        .details{
            .name{
                font-size:0.61rem;
            }
            .domian{
                transform: translateY(-3vw);
                font-size:0.5rem;
            }
        }
        .socials{
            transition-duration: 0.5s ,smooth ;
            transform: translate(15%,2.2vw);
            scale: 0.6;
            padding-right: 3vw;
            padding-left: 11vw;
        }
        
    }
    .teamCard:hover{

        .details{ 
                
            .name{
                transform: smooth ;
                transform: translate(-50%,-12.5vw);
            }
            .domian{
                transform: translate(-50%,-15vw);
            }
        }
        .description{
            transform: translate(0,-14vw) ;
            font-size: x-small ;
        }
        .socials{
            transform: translate(15%,-25.5vw);
            scale: 0.6;
            padding-right: 3vw;
            padding-left: 11vw;
        }
    }
}
@media only screen and (max-width:390px){
    .teamCard{
        .details{
            .name{
                transform: translate(0,-1vw) ;
                font-size:0.51rem;
            }
            .domian{
                transform: translate(0,-4.5vw) ;
                font-size:0.4rem;
            }
        }
        .description{
            font-size:0.2rem;
        }
        .socials{
            transition-duration: 0.5s;
            transform: translate(15%,2.2vw);
            scale: 1.1;
            padding-right: 5vw;
            padding-left: 6vw;
        }
        
    }
    .teamCard:hover{
        .details{      
            .name{               
                transform: translate(-50%,-12.5vw);
            }
            .domian{
                transform: translate(-50%,-16vw);
            }
        }
        .description{
            transform: translate(0,-16vw) ;
            font-size: 0.5rem;
        }
        .socials{
            transform: translate(15%,-30vw);
            scale: 0.6;
            padding-right: 3vw;
            padding-left: 15vw;
        }
    }
}
@media only screen and (max-width:360px){
    .teamCard:hover{
        .description{
            transform: translate(0,-15.5vw) ;
            font-size: 0.5rem;
        }
        .socials{
            transform: translate(15%,-37vw);
            scale: 0.5;
            padding-right: 3vw;
            padding-left: 15vw;
        }
    }
}
@media only screen and (max-width:330px){
    .teamCard{
        .details{
            .name{
                font-size:0.51rem;
                transform: translate(0,-2.5vw) ;
            }
            .domian{
                transform: translate(0,-7vw) ;
                font-size:0.4rem;
            }
        }
        .description{
            font-size:0.2rem;
        }
        .socials{
            transition-duration: 0.5s;
            transform: translate(15%,2.2vw);
            scale: 1.1;
            padding-right: 5vw;
            padding-left: 6vw;
        }
        
    }
    .teamCard:hover{
        .details{ 
            .name{
                transform: translate(-50%,-14vw);
            }
            .domian{
                transform: translate(-50%,-19vw);
            }
        }
        .description{
            transform: translate(0,-19vw) ;
            font-size: 0.5rem;
        }
        .socials{
            transform: translate(15%,-44vw);
            scale: 0.5;
            padding-right: 3vw;
            padding-left: 15vw;
        }
    }
}
.teamCard
.animation 
.pic 
.image 
.description
.details
.name
.domian
.socials
{
    transition: all ease;
}

