.intro-home {
  width: 100%;
  height: 100vh;
  display: flex;
  .contents {
    height: 100%;
    overflow-y: scroll;
    width: 70%;
    .scroll {
      height: 200vh;
      .intro-margins {
        margin: 3rem;
      }
    }
    // height: 200vh;
  }
  .animated-navbar {
    position: relative;
    .animnav {
      position: absolute;
      bottom: 20px;
    }
  }
}
