.home-hero {
  width: 100%;
  min-height: calc(100vh - var(--navbar-height));
  height: calc(100vh - var(--navbar-height));
  position: relative;
  display: flex;
  user-select: none;
  .circle {
    width: 7px;
    height: 7px;
    background: black;
    position: absolute;
    top: 20%;
    left: 37%;
    transform: translateX(-50%);
    transition: 0.5s;
    animation: animscroll 2s infinite;
    border-radius: 50%;
  }
  .text {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    margin-top: -0.5rem;
    .gdsc {
      font-family: Poppins;
      font-size: 8rem;
      line-height: 10rem;
      font-weight: 700;
      margin-top: 3rem;
    }
    .nits {
      font-family: Poppins;
      font-size: 4rem;
      line-height: 5rem;
      font-weight: 700;
      color: var(--gdsc-content-1-100);
    }
    .twl {
      display: flex;
      flex-direction: column;
      margin: 2rem 0px;
      .tw {
        font-family: Poppins;
        font-size: 2.75rem;
        font-weight: 500;
        line-height: 3.75rem;
        letter-spacing: 0em;
        // text-align: center;
      }
      .learn {
        font-family: Poppins;
        font-size: 4rem;
        font-weight: 700;
        line-height: 5rem;
        letter-spacing: 0em;
        text-align: left;
        // color: #3d86f6;
      }
    }
  }
  .logo {
    position: absolute;
    width: 50%;
    left: 50%;
    bottom: 3rem;
    height: 100%;
  }
}

.scroll-gif {
  position: absolute;
  top: calc(90vh - var(--navbar-height));
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

@keyframes animscroll {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.canvas {
  display: flex;
  position: absolute;
  // left: 110%;
  height: 100%;
  width: 100%;
  .GDSClogo {
    left: 0%;
    position: absolute;
    bottom: 20px;
  }
}

.hero-img {
  width: 100%;
}
.gdsc-title-blue {
  color: var(--gdsc-blue-1-100);
}
.gdsc-title-yellow {
  color: var(--gdsc-yellow-1-100);
}
.gdsc-title-red {
  color: var(--gdsc-red-1-100);
}
.gdsc-title-green {
  color: var(--gdsc-green-1-100);
}
@media screen and (max-width: 1000px) {
  .home-hero {
    width: 100%;
    height: auto;
    .scroll-gif {
      visibility: hidden;
    }
    .cover {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .text {
      margin-left: 2rem;
      // margin-top: 7rem;
      .gdsc {
        font-family: Poppins;
        font-size: 100px;
        font-weight: 700;
        text-align: left;
        height: 110px;
      }
      .gdsc span {
        font-family: Poppins;
        font-size: 100px;
        font-weight: 700;
        text-align: left;
        height: 80px;
      }
      .nits {
        font-family: Poppins;
        font-size: 3.5rem;
        font-weight: 610;
        display: block;
      }
      .twl {
        margin-top: 10vw;
        .tw {
          font-family: Poppins;
          font-size: 2.5rem;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0em;
          // text-align: center;
        }
        .learn {
          font-family: Poppins;
          font-size: 45px;
          font-weight: 600;
          line-height: 72px;

          * {
            font-size: unset;
          }
        }
      }
    }
    .logo {
      position: absolute;
      left: 0%;
      top: 50%;
      align-items: center;
      width: 100%;
      height: 80vw;
    }
  }
}
