.navbar {
  display: flex;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.29);
  height: var(--navbar-height);
  .logo {
    display: flex;
    margin-left: 1rem;
    a {
      margin: auto;
    }
  }
  @media (width>600px) {
    .logo {
      margin-left: 2rem;
    }
  }
  .nav-list {
    display: flex;
    margin-left: auto;
    width: 40%;
    list-style: none;

    .nav-button {
      display: inline-block;
      // margin: 2rem;
      margin: auto;
      position: relative;

      .nav-link {
        // margin: 5vw;
        position: relative;
        text-decoration: none;
        font-weight: 700;
        font-size: 1rem;
        color: #646464;
      }
    }
  }
}
.nav-button::after {
  position: absolute;
  width: 0%;
  height: 5px;
  content: "";
  left: 0px;
  bottom: -5px;
  border-radius: 5px;
  transition: 0.35s;
}

.home::after {
  background: var(--gdsc-blue-1-100);
}

.projects::after {
  background: var(--gdsc-red-1-100);
}

.events::after {
  background: var(--gdsc-yellow-1-100);
}
.team::after {
  background: var(--gdsc-green-1-100);
}

.nav-button:hover::after {
  width: 100%;
}

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.492);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 200;
  transition: 0.25s;
}

.hamlist {
  margin: auto;
  text-align: center;
  li {
    list-style: none;
    margin: 3rem auto;
    font-size: 1.7rem;
    width: fit-content;
    text-decoration: none;
    position: relative;
    a {
      text-decoration: none;
      color: black !important;
    }
  }
}

.hamburg-sidebar {
  height: 100vh;
  position: fixed;
  right: 0px;
  background: white;
  transform: translateX(100%);
  width: 300px;
  z-index: 201;
  transition: 0.25s;
  display: flex;
}
.hamburger {
  top: calc(var(--navbar-height) / 2);
  right: 30px;
  z-index: 202;
  display: flex;
  svg {
    cursor: pointer;
  }
}
