.navbar {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 6px rgba(128, 126, 126, 0.1);
  height: var(--navbar-height);

  .nav-list {
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style: none;

    .nav-button {
      display: inline-block;
      margin: 2rem;

      .nav-link {
        margin: 5vw;
        text-decoration: none;
        font-weight: 700;
        font-size: 1rem;
        color: #646464;
      }
    }
  }
}
