.projectshow-container {
  max-width: 1600px;
  margin: auto;
  min-height: 100vh;
  .projectsshow-project-title {
    display: flex;
    padding: 1.5rem;
    min-height: 25vw;
    @media (max-width: 450px) {
      padding: 0.5rem;
    }

    .project-name {
      width: 50%;
      h3 {
        padding: 1rem;
        margin: 1rem;
        width: 0;
        min-height: 25vw;
        font-size: 5vw;
        @media (max-width: 400px) {
          font-size: 6vw;
        }
      }
      .project-status {
        background-color: #4885ed;
        margin: 0rem 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 3rem;
        border-radius: 0.25rem;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 0.9rem;
        align-self: flex-start;
        color: #ffffff;
        @media (max-width: 450px) {
          width: 6rem;
          height: 2rem;
          font-size: 0.8rem;
        }
      }
    }
  }
  .project-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 450px) {
      justify-content: flex-end;
      padding-right: 3rem;
    }
    img {
      width: 20rem;
      max-width: 100%;
      @media (max-width: 800px) {
        width: 15rem;
        max-width: 100%;
      }
      @media (max-width: 450px) {
        width: 9rem;
        max-width: 100%;
      }
      @media (max-width: 400px) {
        width: 7rem;
        max-width: 100%;
      }
    }
  }
  .projectshow-project-description {
    padding-left: 3rem;
    padding-right: 1rem;
    margin-bottom: 3rem;
    margin-top: 5rem;
    @media screen and (max-width: 450px) {
      padding-left: 2rem;
      padding-right: 1.5rem;
      margin-top: 3rem;
      margin-bottom: 2rem;
    }

    h3 {
      padding: 1rem 0 1rem 0;
      font-size: 2.5rem;
      margin-bottom: 1rem;
      @media screen and (max-width: 450px) {
        font-size: 1.3rem;
      }
    }
    p {
      font-size: 1.25rem;
      line-height: 2rem;
      @media screen and (max-width: 450px) {
        font-size: 0.8rem;
        line-height: 1.2rem;
      }
    }
  }
  .projectshow-techstack {
    padding-left: 3rem;
    margin-bottom: 3rem;
    @media screen and (max-width: 450px) {
      padding-left: 2rem;
    }

    h4 {
      padding: 1rem 0 1rem 0;
      font-size: 2.5rem;
      @media screen and (max-width: 450px) {
        font-size: 1.3rem;
      }
    }
    .projects-stacks {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      div {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
        width: 10rem;
        min-width: min-content;
        height: 4rem;
        background-color: #fffbfb;
        border-radius: 1.1rem;
        padding: 0.5rem;
        border: 0.125rem solid var(--gdsc-bg-1-100);
        @media screen and (max-width: 450px) {
          min-width: 7rem;
          gap: 0.2rem;
          width: 9rem;
          height: 2.8rem;
          gap: 0.2rem;
          padding: 1rem;
        }
        @media screen and (max-width: 350px) {
          width: 8rem;
          height: 2.8rem;
          gap: 0.1rem;
          font-size: 0.5rem;
          padding: 0.8rem;
        }

        img {
          width: 1.8rem;
          border-radius: 60%;
        }
        p {
          @media screen and (max-width: 350px) {
            font-size: 0.6rem;
          }
        }
      }
    }
  }
  .projects-show-bottom {
    padding-left: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5rem;
    padding-right: 1rem;
    @media screen and (max-width: 450px) {
      padding-left: 2rem;
    }
    h4 {
      padding: 1rem 0 1rem 0;
      font-size: 2.5rem;
      @media screen and (max-width: 480px) {
        font-size: 2rem;
      }
      @media screen and (max-width: 450px) {
        font-size: 1.4rem;
      }
    }
    ul {
      font-size: 1.5rem;
      padding: 0.5rem 0 0.5rem 0;
      @media screen and (max-width: 450px) {
        font-size: 1rem;
      }
    }
  }
}
