.project-card-container {
  @media screen and (max-width: 900px) {
    width: 100%;
  }
  border: 0.05rem solid #d9d9d9;
  border-radius: 0.625rem;
  padding: 2.5rem;
  margin: 0rem;
  width: 90%;
  max-width: 100%;
  justify-self: start;
  &:nth-child(even) {
    justify-self: end;
  }

  .project-card-header {
    display: flex;
    margin-bottom: 1.5rem;
    height: 9rem;
  }

  .project-card-project-status-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: auto;

    .project-card-project-name {
      flex-grow: 1;
      justify-content: center;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 2.25rem;
      color: #333333;
      @media screen and (max-width: 1400px) {
        line-height: 150%;
        font-size: 1.75rem;
      }
    }

    .project-card-project-status {
      margin-top: 0.25rem;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 0.75rem;
      align-self: flex-start;
      color: #ffffff;
    }
  }

  .project-card-project-img-container {
    display: flex;
    justify-content: flex-end;
    flex-basis: 50%;

    .project-card-project-img {
      object-fit: contain;
      width: 10rem;
      @media screen and (max-width: 1280px) {
        transform: scale(0.75);
      }
    }
  }

  .project-card-content {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    align-items: center;
    height: 10rem;
    color: #292929;

    padding: 1.5rem 0;

    border-bottom: 0.05rem solid #d9d9d9;
  }

  .project-card-footer {
    padding-top: 1.5rem;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    .project-card-details {
      color: #fff;
      font-size: 0.75rem;
      border-radius: 0.25rem;
      padding: 0.75rem 1.75rem;
      background-color: #4885ed;
      &:hover {
        background: #1a66e8;
        cursor: pointer;
        transition: 0.25s;
      }
    }
  }
}
