#error404 {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  .lf-player-container {
    position: static !important;

    svg {
      height: 100% !important;
      width: 100% !important;
    }
  }

  // position: absolute;
  .error-enclosure {
    margin: auto;
    width: 20rem;

    .heading-404 {
      text-align: center;
      color: var(--gdsc-blue-1-100);
      // margin-top: -30px;
    }
  }

  @media screen and (width>=500px) {
    .error-enclosure {
      width: 20rem;
    }
  }
}
