.events {
  margin: 6rem auto;
  .heading {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 3rem auto;
    margin-top: 10rem;
  }

  .uc_events_card {
    width: 80%;
    margin: auto;
    border: 1px solid gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

    .more_mobile {
      background: #4885ed;
      border: none;
      padding: 7px 12px;
      border-radius: 10px;
      margin-top: 1rem;

      a {
        text-decoration: none;
        color: white;
      }
    }
    .desc_mobile {
      font-size: 1.3rem;
      color: #49454f;
      line-height: 30px;
    }
    @media (width < 800px) {
      .desc_mobile {
        font-size: 0.8rem;
        line-height: 18px;
        padding: 1rem;
      }
    }
    .upper_info {
      display: flex;
      flex-direction: row;
    }

    .logo {
      margin: auto 2rem;
    }
    @media (width<800px) {
      .logo {
        img {
          width: 100px;
        }
        margin: auto 1rem;
      }
    }

    .info {
      padding: 2rem;
      line-height: 40px;

      .title {
        font-size: 1.4rem;
        @media (width<800px) {
          font-size: 1rem;
        }
        @media (width<500px) {
          font-size: 1rem;
        }
      }

      .badges {
        .subtitle {
          font-size: 1.3rem;
          @media (width<800px) {
            font-size: 0.9rem;
          }
        }

        .badge {
          font-size: 0.8rem;
          padding: 2px 6px;
          display: inline;
          border-radius: 7px;
          background: #dbdbdb;
        }
      }
      .more {
        background: #4885ed;
        border: none;
        padding: 7px 12px;
        border-radius: 10px;
        margin-top: 1rem;

        a {
          text-decoration: none;
          color: white;
        }
      }
      .desc {
        font-size: 1.3rem;
        color: #49454f;
        line-height: 30px;
        @media (width < 800px) {
          font-size: 0.8rem;
          line-height: 18px;
        }
      }
    }
    @media (width<800px) {
      .info {
        padding: 1rem;
        line-height: 23px;
      }
    }
  }

  .past_events {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 7rem auto;
    @media (width < 1000px) {
      margin: 4rem auto;
    }
    @media (width < 500px) {
      margin: 2rem auto;
    }

    .past_events_heading {
      font-weight: 400;
      margin-right: 2rem;
      font-size: 2rem;
    }
    @media (width < 800px) {
      .past_events_heading {
        font-size: 1.6rem;
      }
    }
    @media (width < 500px) {
      .past_events_heading {
        font-size: 1.2rem;
      }
    }

    #past_events {
      padding: 4px 9px;
      font-size: 1.1rem;
      border: 2px solid #605d62;
      border-radius: 4px;
      text-align: left;
      width: 170px;
      color: #605d62;
      background: transparent;
    }
  }

  .cards {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .basis_buffer {
      flex-basis: 25%;
      margin: auto;

      .card:hover {
        box-shadow: 3px 3px 8px rgb(128, 123, 123);
      }

      .button {
        margin-top: 2rem;
        padding: 0.3rem 0.7rem;
        cursor: pointer;
        background-color: rgba($color: #000000, $alpha: 0.1);
        border-radius: 6px;
      }

      .flip_card {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-perspective: 1000px;
        perspective: 1000px;
      }

      .flip_card_front,
      .flip_card_back {
        background-size: cover;
        background-position: center;
        -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition:
          transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
          -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        width: 100%;
        height: 280px;
        border-radius: 6px;
        color: #fff;
        font-size: 1.5rem;
      }

      .flip_card:hover .flip_card_front,
      .flip_card:hover .flip_card_back {
        -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition:
          transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
          -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
      }

      .flip_card_front.no_after::after,
      .flip_card_back.no_after::after {
        content: none;
      }

      .flip_card_front::after,
      .flip_card_back::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        content: "";
        display: block;
        opacity: 0.9;
        background-color: #fff;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 6px;
      }

      .flip_card_front::after {
        opacity: 1;
      }

      .flip_card_back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: black;
      }

      .flip_card_inner {
        -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
        transform: translateY(-50%) translateZ(60px) scale(0.94);
        top: 50%;
        position: absolute;
        left: 0;
        width: 100%;
        padding: 2rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: 1px solid transparent;
        -webkit-perspective: inherit;
        perspective: inherit;
        z-index: 2;
        font-size: 1rem;
        color: black;
      }

      .flip_card_back {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
      }

      .flip_card_front,
      .flip_card:hover .flip_card_back {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
      }

      .flip_card:hover .flip_card_front {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
      }

      .card {
        padding: 1rem;
        text-align: center;
        box-shadow: 2px 2px 5px rgb(230, 230, 230);
        width: 20rem;
        margin: 2rem;
        border: 1px solid #eeeeee;
        border-radius: 10px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        transition: 0.25s;
        text-decoration: none;
        color: black;

        @media (width < 500px) {
          width: 20rem;
        }

        .card_img {
          width: 180px;
          margin: auto;
          margin-top: 4rem;
          border-radius: 50%;
          @media (width < 500px) {
            width: 100px;
          }
        }
        .info {
          text-align: center;
          line-height: 1.2rem;
          padding: 1rem;
          @media (width < 500px) {
            padding: 0.5rem;
          }
          .date {
            color: #61656a;
            @media (width < 500px) {
              font-size: 0.7rem;
            }
          }
          .upcoming {
            margin-top: 0.5rem;
            @media (width < 500px) {
              font-size: 0.7rem;
            }
          }
          .title {
            color: black;
            margin-top: 0.5rem;
            margin-bottom: 1.8rem;
            font-size: 1.2rem;
            padding-bottom: 2rem;
            line-height: 1.5rem;
            @media (width < 500px) {
              font-size: 0.9rem;
            }
          }
          // .subtitle {
          //   color: #000;
          //   padding: 4px 1rem;
          //   @media (width < 500px) {
          //     font-size: 0.7rem;
          //     padding: 2px 0.2rem;
          //   }
          // }
        }
      }
    }
  }
}
